
<div class="content" role="main">

  <table>
    <tr>
      <th (click)="sort('name')"><a href="#" [ngClass]="setClass('name') " class="sort-by">Name</a></th>
      <th (click)="sort('price')"><a href="#" [ngClass]="setClass('price') " class="sort-by">Price</a></th>
      <th (click)="sort('category')"><a href="#" [ngClass]="setClass('category') " class="sort-by">Category</a></th>
    </tr>
    <tr *ngFor="let item of data.cookies | sortBy: order: column">
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.category}}</td>
    </tr>
  </table>

</div>


